{% extends 'base.html' %}
{% block title %} Add a Pet {% endblock %}

{% block content %}

<div class="container">
    <h1>Create a New Pet</h1>
    <form method = "POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}

        <div class='form-group'>
            {{ field.label }}
            {{ field(class_="form-control") }}
        
            <span>
                {% if field.errors %}
                {% for error in field.errors %}
                    <b class="text-danger">{{ error }}</b>
                {% endfor %}
                {% endif %}
            </span>
        </div>
        {% endfor %}
        <button class = 'btn btn-success btn-lg' type = 'submit'> Add </button>
        <a href="/" class="btn btn-danger btn-lg"> Go Back </a>
    </form>

</div>

{% endblock %}